# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
Bin/
App/
WindowsStoreApp/
WindowsStoreApp*/
UnityGenerated/
Library/
Assets/AssetStoreTools*
project.json
project.lock.json
App/
WindowsStoreApp/
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
.vs/
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.csproj
*.pidb
*.suo
/*.sln
*.sln
*.user
*.unityproj
*.ipch
*.dll
*.pdb
*.opensdf
*.sdf
*.dll.meta
*.tlog
*.log
*.idb
*.opendb
WSATestCertificate.pfx
WSATestCertificate.pfx.meta

#  ============================================ #
# Exceptions to above rules for Galaxy Explorer #
#  ============================================ #
UWP/**
!UWP/UnityOverwrite.txt
!UWP/GalaxyExplorer.sln
!UWP/project.json
!UWP/Assembly-CSharp/project.json
!UWP/Assembly-CSharp-firstpass/project.json
!UWP/GalaxyExplorer/App.xaml
!UWP/GalaxyExplorer/App.xaml.cs
!UWP/GalaxyExplorer/GalaxyExplorer.csproj
!UWP/GalaxyExplorer/InputHandling.cs
!UWP/GalaxyExplorer/MainPage.xaml
!UWP/GalaxyExplorer/MainPage.xaml.cs
!UWP/GalaxyExplorer/Package.appxmanifest
!UWP/GalaxyExplorer/project.json
!UWP/GalaxyExplorer/Assets/SplashScreen.scale-200.png
!UWP/GalaxyExplorer/Assets/Square150x150Logo.scale-200.png
!UWP/GalaxyExplorer/Assets/Square150x150Logo.scale-400.png
!UWP/GalaxyExplorer/Assets/Square44x44Logo.scale-200.png
!UWP/GalaxyExplorer/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
!UWP/GalaxyExplorer/Assets/Square44x44Logo.targetsize-256_altform-unplated.png
!UWP/GalaxyExplorer/Assets/StoreLogo.png
!UWP/GalaxyExplorer/Assets/StoreLogo.scale-400.png
!UWP/GalaxyExplorer/Assets/StoreLogo.scale-100.png
!UWP/GalaxyExplorer/Assets/Wide310x150Logo.scale-200.png
!UWP/GalaxyExplorer/Properties/AssemblyInfo.cs

